* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* width: 1170px; */
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  /* color: var(--mainText); */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:var(--color2);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:var(--color2);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:var(--color2);
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
  ::-webkit-scrollbar-track {
  background: var(--color3);
  
}

/* Handle */

  ::-webkit-scrollbar-thumb {
    background:var(--color1);
    
}
  /* Handle on hover */
  
  ::-webkit-scrollbar-thumb:hover {
  background-color: var(--color2);
}

/* media queries codes */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}



.btn,.btn6{
  padding: 10px 15px;
  color: var(--mainText);
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  
}

.btn::before {
  content: '';
  position: absolute;
  bottom: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  display: block;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  -moz-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  -ms-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  -o-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
}

.btn:hover::before {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}


/*=======Button 6============= */
.btn6{
  border:1px solid transparent; 
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}

.btn6::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom:0px;
  /* z-index:-1; */
  width: 0%;
  height:1px;
  background: var(--color2);
  box-shadow: inset 0px 0px 0px var(--color2);
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

.btn6:hover::before {
  width:100%;
}

.btn6::after {
  content: '';
  position: absolute;
  right: 0px;
  top:0px;
  /*z-index:-1;
  */width: 0%;
  height:1px;
  background: var(--color2);
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  -moz-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  -ms-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  -o-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}

.btn6:hover::after {
  width:100%;
}

.btn6:hover{
  border-left:1px solid var(--color2);
  border-right:1px solid var(--color2);
}

.btn6.active:hover {
  border-left:1px solid var(--color1);
  border-right:1px solid var(--color1);
}

.active.btn6::after{
  background: var(--color1);
}

.active.btn6::before{
  background: var(--color1);
}

.active{
  color: var(--color1);
}

/* btn1 style */

.btn1 {
  background-color: var(--secondaryText);

}

.btn1:hover {
  color: var(--secondaryText);
  background-color: var(--mainText);
}

.special-heading {
  color: var(--secondaryText);
  font-size: 50pt;
  padding-left: 30px;
  background-color: var(--mainText);
}

.special-heading h1 {
  margin-left: -1000px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.special-heading.animate h1 {
  animation-name: specialHeadAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes specialHeadAnimation {
  to{
    margin-left: 0px;
  }
}

@media screen and (max-width: 780px) {
  
  .special-heading {
    font-size: 30pt;
  }

}

@media screen and (max-width: 660px) {
  
  .special-heading {
    font-size: 20pt;
  }

}


.menu-icon {
  margin-top: auto;
  margin-bottom: auto;
  display: none;
  position: absolute;
  cursor: pointer;
  z-index: 3000;
  right:30px;
  top: 15px;
}

.menu-icon div {
  width: 35px;
  height: 5px;
  background-color: var(--color1);
  margin: 6px 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  -moz-transform: rotate(-45deg) translate(-9px, 6px);
  -ms-transform: rotate(-45deg) translate(-9px, 6px);
  -o-transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width: 1020px) {
  .menu-icon {
    display: block;
  }

}

@media screen and (max-width:400px) {
  .menu-icon div {
    width: 25px;
    height: 3px;
  }
}

.vertical-menu {
  position: fixed;
  background-color: var(--color4);
  padding: 50px;
  right:-1000px;
  top: 0px;
  min-height: 100vh;
  /* border-radius: 15px; */
  z-index: 3000;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}


.vertical-menu .menu {
  padding: 20px;
  margin-top: 40px;
  text-align: center;
  margin-left: 0;
}

.vertical-menu .menu li {
  display: block;
  margin-bottom: 50px;
  font-weight: bold;
}

.vertical-menu .menu li a {
  color: var(--color2);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.vertical-menu .menu li a:hover,
.vertical-menu .menu li a.active {
  color: var(--color1);
}

.vertical-menu .fa-xmark {
  color: var(--color1);
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  font-size: 30pt;
  cursor: pointer;
}


.btn2 {
  position: relative;
  z-index: 1;
  font-size: 12px;
  color: var(--color2);
  font-weight: bold;
  background-color: var(--color1);
  margin-top: 15px;
  padding:15px 20px;
  transition: all 0.3s ease ;
  -webkit-transition: all 0.3s ease-out ;
  -moz-transition: all 0.3s ease ;
  -ms-transition: all 0.3s ease ;
  -o-transition: all 0.3s ease ;

}

.btn2::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  z-index: -1;
  background-color: var(--color4);
  top: 0;
  right: 0;
  transition: all 0.3s ease ;
  -webkit-transition: all 0.3s ease ;
  -moz-transition: all 0.3s ease ;
  -ms-transition: all 0.3s ease ;
  -o-transition: all 0.3s ease ;
}


.btn2 i {
  margin-left: 20px;
}

.btn2:hover {
  background-color: transparent;
}

.btn2:hover::after {
  width: 100%;
  left: 0;
}

.btn2:hover i {
  animation-name: arrowbounc;
  animation-duration:0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes arrowbounc {
  to {
    margin-left: 10px;
  }
}

.line {
  width: 30px;
  height: 2px;
  background-color: var(--color3);
  margin:15px auto;
  
}

.number {
  font-size: 40pt;
  position: absolute;
  z-index: -1;
  color: gray;
  opacity: 0.1;
  
}